.input-field {
	margin-bottom: 24px;
	position: relative;
	height: 40px;
	display: grid; 
	grid-template-columns: 40px 1fr;

	&__label, .label {
		display: grid;
		place-items: center;
		background-color: $black-100;


		&__icon {
			width: 16px;
			color: $white-100;
		}

	}

	&__input {
		width: 100%;
		border: 0;
		border: 1px solid $black-100;
		padding: 0 16px;
		background-color: transparent;
		border-radius: 0;
		color: $black-100;

		&::placeholder {
			color: $grey-60;
		}

		&:focus {
		}

	}

	&__error {
		margin-top: 4px;
		color: $red-80;
	}

	&__info, .info {

		&__symbol {
			position: absolute;
			top: 0;
			right: 0;
			display: inline-block;
			padding: 2px;
			line-height: 1;
			text-align: center;
			color: $white-100;
			background-color: $black-100;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			cursor: pointer;
		}

		&__text {
			position: absolute;
			top: calc(24px);
			right: 0;
			background-color: $black-100;
			color: $white-100;
			z-index: 25;
			display: none;
			padding: 8px;
			border-radius: 4px;
			min-width: 240px;
		}

		&:hover {

			.info__text {
				display: block;
			}

		}

	}

	&--error {

		& .input-field__label {
			color: $red-80;
		}

		& .input-field__input {
			border-bottom: 2px solid $red-80;
		}

	}

	@media (max-width: 750px) {

		&__info, .info {

			&__text {
				max-width: 240px;
				width: 100%;
				min-width: unset;
			}

		}

	}

}