.footer {
	background-color: $beige-100;
	margin-bottom: 0 !important;

	&__inner {
		padding: 40px 0;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}

	&__logo {
		height: auto;
		width: 48px;
		margin-right: 32px;
		margin-bottom: 24px;
	}

	&__content, .content {
		width: 100%;
		display: grid;
		grid-template-areas: 
			"title title title title"
			"contact-links social-media-links legal-links copyright";
		grid-template-columns: auto auto 1fr auto;
		grid-gap: 64px;

		&__title {
			grid-area: title;
			margin-top: 16px;
		}

		&__contact-links, .contact-links {
			grid-area: contact-links;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			&__item {
				margin-bottom: 4px;
			}

		}
        
		&__social-media-links, .social-media-links {
			grid-area: social-media-links;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			&__item {
				margin-bottom: 4px;
			}

		}
        
		&__legal-links, .legal-links {
			grid-area: legal-links;
			display: flex;
			flex-direction: row;
			align-items: flex-end;
			margin-left: auto;

			&__item {
				margin-right: 24px;
				margin-bottom: 4px;

				&:last-child {
					margin-right: 0;
				}

			}

		}

		&__copyright {
			grid-area: copyright;
			align-self: flex-end;
			text-align: right;
			margin-bottom: 4px;
			color: $grey-100;
		}
    
	}

	@media (max-width: 1050px) {

		&__content, .content {
			grid-template-areas: 
				"title title title"
				"contact-links contact-links social-media-links" 
				"legal-links copyright copyright";
			grid-template-columns: auto 1fr auto;
			grid-gap: 40px;

			&__legal-links, .legal-links {
				flex-direction: column;
				align-items: flex-start;
                
				&__item {
					margin-right: 0 !important;
				}

			}

		}

	}

	@media (max-width: 375px) {

		&__content, .content {
			grid-template-areas: 
				"title"
				"contact-links" 
				"social-media-links" 
				"legal-links" 
				"copyright";
			grid-template-columns: auto;
			grid-gap: 16px;

			&__legal-links, .legal-links {
				margin-left: 0;
			}

			&__copyright {
				text-align: left;
			}

		}

	}

	@media (max-width: 350px) {

		&__inner {
			flex-direction: column;
		}

		&__content, .content {

			&__title {
				margin-top: 0;
			}

		}
    
	}

}