.references {

	
	&__item, .item {
		margin-bottom: 4px;

		&:last-child {
			margin-bottom: 0;
		}

		&__title, 
		&__heading, 
		&__name, 
		&__separator,
		&__anchor {
			display: inline-block; 
		}

		&__heading, 
		&__separator {
			margin-right: 4px;
		}

	}

	@media (max-width: 550px) {

		&__item, .item {
			margin-bottom: 12px;

			&__heading, 
			&__name {
				display: block;
			}

			&__separator {
				display: none;
			}

		}

	}

}