.references {

	
	&__item, .item {
		margin-bottom: 16px;

		&:last-child {
			margin-bottom: 0;
		}

		&__title, 
		&__heading, 
		&__name, 
		&__separator,
		&__anchor {
			display: inline-block; 
		}

		&__heading, 
		&__separator {
			margin-right: 4px;
		}

	}

}