.references {

	
	&__item, .item {
		margin-bottom: 16px;

		&:last-child {
			margin-bottom: 0;
		}

		&__content, .content {

			&__name, 
			&__anchor {
				display: inline-block; 
			}

		}

	}

}