.impressions {
	
	&__item, .item {
		
		&__layout, .layout {
			width: 100%;
			height: 100%;
			display: grid;	
			grid-gap: 16px;
			margin-bottom: 16px;

			&--one-column {
				grid-template-columns:  1fr;
			}
		
			&--two-column {
				grid-template-columns: 1fr 1fr;
			}

			&--three-column {
				grid-template-columns: 1fr 1fr 1fr;
			}

			&--four-column {
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}

		}

		&__image, .image {
			width: 100%;
			display: block;
			height: auto;
			object-fit: cover;
			background-color: $beige-80;
		}

	}

	@media (max-width: 550px) {

		&__item, .item {

			&__layout, .layout {
				margin-bottom: 0;
				grid-gap: 0;

				&--one-column {
					grid-template-columns:  1fr;
				}
		
				&--two-column {
					grid-template-columns: 1fr;
				}

				&--three-column {
					grid-template-columns: 1fr;
				}

				&--four-column {
					grid-template-columns: 1fr;
				}

			}


			&__image, .image {
				margin-bottom: 16px;
			}
		
		}
		
	}

}