.impressions {
	
	&__item, .item {
		width: 100%;
		height: 100%;
		display: grid;	
		grid-gap: 16px;
		grid-auto-flow: column;
		flex-direction: row;
		grid-template-rows: auto;
		grid-template-columns: repeat(auto-fill, 1fr);
		margin-bottom: 16px;
		
		&__image, .image {
			width: 100%;
			display: block;
			height: auto;
			object-fit: cover;
		}

	}

	@media (max-width: 550px) {

		&__item, .item {
			margin-bottom: 8px;
			display: block;
			width: 100%;
			height: 100%;

			&__image, .image {
				margin-bottom: 8px;

				&:last-child {
					margin-bottom: 0;
				}

			}
		
		}
		
	}

}