.highlight-preview {
	display: none;
	margin-bottom: 120px;

	&__preview, .preview {
		position: relative;
		height: 400px;
		margin-bottom: 32px;

		&__image, .image {
			position: absolute; 
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 400px;
			opacity: 0;

			&__source {
				width: 100%;
				height: 100%;
				object-fit: cover;

			}
		}

	}

	&__progress, .progress {
		height: 2px;
		margin-bottom: 16px;
		border-radius: 2px;
		position: relative;
        
		&__background, 
		&__status {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			height: 100%;
		}

		&__background {
			right: 0;
			background-color: $grey-60;
		}

		&__status {
			right: 100%;
			background-color: $black-100;
		}

	}

	&__projects, .projects {
		position: relative;

		&__box, .box {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;

			&__label {
				margin-bottom: 8px;
				color: $black-100;
			}

			&__title {
				color: $black-100;
			}
        
		}

	}

	@media (max-width: 850px) {
		display: block;
	}

}