.login-form {
	background-color: darken($white-100, 5%);
	background-size: cover;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: relative;
	height: 100vh; 
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	&__container, .container {
		background-color: $white-100;
		width: 100%;
		height: 100%;
		max-width: 800px;
		max-height: calc(100vh - (2 * 32px));
		display: grid; 
		grid-template-columns: 1fr 1fr;
		align-items: center;
		grid-gap: 32px;
		margin: 32px;

		&__action, .action {
			padding: 32px;

			&__logo, .logo {
				margin: 0 auto 32px;
				text-align: center;
				font-size: 24px;
				display: block;
				width: 100%;
				height: auto;
				max-width: 240px;
			}			

		}

		&__image {
			width: 100%;
			height: 100%;
			object-fit: cover;	
			object-position: bottom right;
		}

	}	
	
	&__status, .status {
		margin-top: 16px;
		padding: 8px;

		&__text {
			text-align: center;
			color: $white-100;
		}

		&--error {
			background-color: $red-80;

		}

	}

	@media (max-width: 600px) {

		&__container, .container {
			grid-template-columns: 1fr;	

			&__image, .image {
				display: none;
			}

		}

	}

	@media (max-width: 400px) {

		&__container, .container {
			margin: 0;
			max-height: 100vh;
		}

	}

}