.behind-the-scenes {

	&__images, .images {
		margin: 0 auto;

		&__item {
			width: 100%;
			height: auto;
			display: block;
			margin-bottom: 160px;

			&:nth-child(4n + 1) {
				margin-left: calc(100% / 24 * 0);
				width: calc(100% / 24 * 11);
				margin-right: calc(100% / 24 * 13);
			}
					
			&:nth-child(4n + 2) {
				margin-left: calc(100% / 24 * 13);
				width: calc(100% / 24 * 11);
				margin-right: calc(100% / 24 * 0);
			}
							
			&:nth-child(4n + 3) {
				margin-left: calc(100% / 24 * 0);
				width: calc(100% / 24 * 12);
				margin-right: calc(100% / 24 * 12);
			}
							
			&:nth-child(4n + 4) {
				margin-left: calc(100% / 24 * 0);
				width: calc(100% / 24 * 12);
				margin-right: calc(100% / 24 * 12);
			}

		}

	}
    
	@media (max-width: 800px) {

		&__images, .images {
			margin: 0 auto;

			&__item {
				display: block;
				margin-bottom: 80px;
				height: 100%;

				&:nth-child(4n + 1) {
					margin-left: calc(100% / 24 * 0);
					width: calc(100% / 24 * 17.5);
					margin-right: calc(100% / 24 * 6.5);
				}
					
				&:nth-child(4n + 2) {
					margin-left: calc(100% / 24 * 6.5);
					width: calc(100% / 24 * 17.5);
					margin-right: calc(100% / 24 * 0);
				}
							
				&:nth-child(4n + 3) {
					margin-left: calc(100% / 24 * 0);
					width: calc(100% / 24 * 18);
					margin-right: calc(100% / 24 * 6);
				}
							
				&:nth-child(4n + 4) {
					margin-left: calc(100% / 24 * 0);
					width: calc(100% / 24 * 18);
					margin-right: calc(100% / 24 * 6);
				}

			}

		}	

	}

}