/* COLORS */
$black-100: #000;
$black-80: #1D1D1B;
$grey-100: #595959;
$grey-60: #ADADAD;
$grey-40: #D2D2D1;
$grey-20: #F5F5F5;
$white-100: #FFF;
$beige-100: #F2EEE9;
$beige-80: #F7F5F2;

/* LAYOUT */
$max-width: 2500px;