.jumper {
	background-color: $beige-80;
	margin-bottom: 0 !important;
    
	&__inner {
		padding: 24px 0 24px 80px;
	}

	&__link {
		padding: 12px 24px 12px 0;

		&:last-child {
			padding-right: 0;
		}
	}

	@media (max-width: 1000px) {
		display: none;
	}

}