.jumper {
	background-color: $beige-80;
	margin-bottom: 0 !important;
    
	&__inner {
		padding: 12px 0 12px 80px;
		display: flex;
		flex-direction: row; 
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		margin: 0 !important;
	}

	&__link {
		padding: 12px 24px 12px 0;

		&:last-child {
			padding-right: 0;
		}
	}

	@media (max-width: 1000px) {

		&__inner {
			max-width: 560px !important;
		}

	}

	@media (max-width: 600px) {

		&__inner {
			max-width: 360px !important;
			padding-left: 0;
		}

	}

	@media (max-width: 400px) {

		&__inner {
			max-width: unset !important;
			flex-direction: column;
		}

	}

}